* {
    box-sizing: border-box !important;
}

body {
    overflow-x: hidden;
}

.btn-hover:hover {
    background-color: hsla(0, 0%, 100%, 0.232) !important;
}

.underline-hover:hover {
    text-decoration: underline !important;
}

a.sidebar-link-hover:hover {
    background-color: rgba(255, 255, 255, 0.251) !important;
}

a.sidebar-logout-hover:hover {
    background-color: rgba(220, 53, 70, 0.502) !important;
    color: white !important;
}

.width-20-percent {
    width: 20%;
}

.admin-container {
    margin-left: 20% !important;
}


