<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/bootstrap_css/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/custom/custom.css" />
    <title>Online Medicine Shopping</title>
</head>
<body>


<!--
    NAVIGATION BAR    
-->  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid pt-2 pb-2">
    
    <!-- Brand (with left spacing) -->
    <a class="navbar-brand ms-3" href="/">Online Medicine</a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">

      <!-- Search Bar -->
      <form class="d-flex mx-auto w-50">
          <input 
              class="form-control" 
              type="search" 
              placeholder="Search medicines..."
          >
          <button class="btn border-light text-light ms-2 px-4" type="submit">
            Search
          </button>
      </form>

      <!-- Right Side Buttons -->
      <div class="d-flex gap-2">
        <a href="/adminlogout" class="btn border-light text-light px-3">Logout</a>
      </div>

    </div>
  </div>
</nav>
