<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bootstrap_css/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/custom/custom.css" />
    <title>Online Medicine Shopping</title>
</head>
<body>


<!-- Fixed Sidebar -->
<div class="position-fixed top-0 start-0 bg-dark text-white vh-100 p-3 width-20-percent">
    <a href="/admin" class="text-decoration-none text-light">
        <h4 class="text-left mb-5 ms-3">Admin Panel</h4>
    </a>

    <ul class="nav nav-pills flex-column mt-5">

        <li class="nav-item mb-2">
            <%# The route "/admin/customers" is in the manage_customers.route.js %>
            <a href="/admin/customers" class="nav-link text-white sidebar-link-hover">
                Manage Customers
            </a>
        </li>

        <li class="nav-item mb-2">
            <%# The route "/admin/medicines" is in the manage_medicines.route.js %>
            <a href="/admin/medicines" class="nav-link text-white sidebar-link-hover">
                Manage Medicines
            </a>
        </li>

        <li class="nav-item mb-2">
            <%# The route "/admin/suppliers" is in the manage_suppliers.route.js %>
            <a href="/admin/suppliers" class="nav-link text-white sidebar-link-hover">
                Manage Suppliers
            </a>
        </li>

        <li class="nav-item mt-4">
            <a href="/adminlogout" class="nav-link text-danger sidebar-logout-hover">
                Logout
            </a>
        </li>

    </ul>
</div>