<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bootstrap_css/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/custom/custom.css" />
    <title>Online Medicine Shopping</title>
</head>
<body>


<!--
    NAVIGATION BAR    
-->  
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid pt-2 pb-2">
    
    <!-- Brand (with left spacing) -->
    <a class="navbar-brand ms-3" href="/">Online Medicine</a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">

      <!-- Search Bar -->
      <form class="d-flex mx-auto w-50">
          <input 
              class="form-control" 
              type="search" 
              placeholder="Search medicines..."
          >
          <button class="btn border-light text-light ms-2 px-4 btn-hover" type="submit">
            Search
          </button>
      </form>

        <div class="btn-group dropstart">
        <button type="button" class="btn btn-dark dropdown-toggle border border-light border-2" data-bs-toggle="dropdown" aria-expanded="false">
            <%= userName %>
        </button>
        <ul class="dropdown-menu bg-dark text-light border border-primary border-1 p-0 rounded-0">
            <li><a 
              class="dropdown-item bg-dark text-light pt-3 pb-3 btn-hover" 
              href="/profile/updateprofile">
                Update Profile
            </a></li>
            <li>
              <a class="dropdown-item bg-dark text-light pt-3 pb-3 btn-hover" 
              href="/profile/logout">
                Logout
              </a>
            </li>
        </ul>
        </div>

    </div>
  </div>
</nav>
