<%- include( "../partials/adminprofilesidebar" ) -%>

<div class="admin-container">

    <div class="row p-5 pb-3">

        <div class="col-6">
            <div class="card text-bg-primary">
            <h5 class="card-header">Manage Users</h5>
            <div class="card-body">
                <p class="card-text">You can Insert, Update or Delete Customer Record.</p>
                <a href="/admin/customers" class="btn btn-primary border border-white">Manage Users</a>
            </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card text-bg-danger">
            <h5 class="card-header">Manage Medicines</h5>
            <div class="card-body">
                <p class="card-text">You can Insert, Edit or Delete Medicines Records.</p>
                <a href="/admin/medicines" class="btn btn-danger border border-white">Manage Medicines</a>
            </div>
            </div>
        </div>

    </div>

    <div class="row p-5 pt-3">

        <div class="col-6">
            <div class="card text-bg-dark">
            <h5 class="card-header">Manage Suppliers</h5>
            <div class="card-body">
                <p class="card-text">You can Insert, Edit and Delete Supplier records.</p>
                <a href="/admin/suppliers" class="btn btn-dark border border-white">Manage Suppliers</a>
            </div>
            </div>
        </div>

    </div>


</div>

<%- include( "../partials/footer" ) -%>