<%- include( "../partials/adminsidebar" ) -%>

<div class="admin-container">

    <div class="row pt-5 ps-5 pe-5">

        <div class="col-6">
            <div class="card text-bg-primary">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary border border-white">Go somewhere</a>
            </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card text-bg-danger">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-danger border border-white">Go somewhere</a>
            </div>
            </div>
        </div>

    </div>

    <div class="row p-5">

        <div class="col-6">
            <div class="card text-bg-dark">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-dark border border-white">Go somewhere</a>
            </div>
            </div>
        </div>

    </div>

</div>

<%- include( "../partials/footer" ) -%>