<%- include( "../partials/userprofileheader" ) -%>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="mt-5">Profile Page</h1>
        </div>
    </div>
</div>


<%- include( "../partials/footer" ) -%> 
