<%- include( "../partials/adminprofilesidebar" ) -%>

<div class="admin-container">

    <div class="row p-5 pb-3">

        <div class="col-6">
            <div class="card text-bg-dark">
            <h5 class="card-header">Manage Suppliers</h5>
            <div class="card-body">
                <p class="card-text">You can Insert, Edit and Delete Supplier records.</p>
                <a href="/admin/suppliers" class="btn btn-dark border border-white">Manage Suppliers</a>
            </div>
            </div>
        </div>

    </div>


</div>

<%- include( "../partials/footer" ) -%>