<%- include( "../partials/header" ) -%>

<div class="container mt-5">

    <div class="row">
        <div class="col-12 d-flex justify-content-center">

            <div class="rounded rounded-4 bg-dark p-5 mt-5 w-50 text-light">

                <div class="w-100 text-left pb-5">
                    <h1>Admin Login</h1>
                </div>

                <form action="/adminlogin" method="POST">
                    <div class="mb-4">
                        <label for="exampleInputEmail1" class="form-label">
                            Email address
                        </label>
                        <input 
                            type="email" 
                            class="form-control" 
                            id="exampleInputEmail1" 
                            aria-describedby="emailHelp"
                            name="admin_email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">
                            Password
                        </label>
                        <input 
                            type="password"
                            class="form-control" 
                            id="exampleInputPassword1"
                            name="admin_password"
                            autocomplete="off">
                    </div>

                    <div class="mb-3 forgot-password">
                        <a href="#forgot-password" class="text-light text-decoration-none underline-hover">Forgot Password</a>
                    </div>
                    
                    <div class="d-flex justify-content-right">
                        <button type="submit" class="btn border-light text-light px-3 ms-auto">Login as Admin</button>
                    </div>

                </form>

            </div>

        </div>
    </div>

</div>

<%- include( "../partials/footer" ) -%>